{{ header }}
{{ column_left }}
<main id="content">
	<div class="container-fluid px-4">
		<div class="page-header">
			<div class="container-fluid">
				<div class="float-right">
					<a href="{{ add }}" data-toggle-tooltip="tooltip" data-placement="top" title="{{ button_add }}" class="btn btn-primary">
						<i class="fas fa-plus"></i>
					</a>
					<a href="{{ delete }}" role="button" data-toggle-tooltip="tooltip" data-placement="top" title="{{ button_delete }}" class="btn btn-danger disabled" name="button-delete" form="form-language">
						<i class="far fa-trash-alt"></i>
					</a>
				</div>
				<h1>{{ heading_title }}</h1>
				<ul class="breadcrumb">
					{% for breadcrumb in breadcrumbs %}
						<li class="breadcrumb-item">
							<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{# </ page header #}
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-th-list"></i>
				{{ text_list }}
			</div>
				<div class="card-body">
					<form id="form-language" accept-charset="utf-8" encrypt="multipart/form-data">
						<input type="hidden" name="{{ csrf_token() }}" value="{{ csrf_hash() }}"/>
						<div class="table-responsive">
							<table id="table-list" class="table table-bordered table-striped" data-order='[[ 1, "asc" ]]'>
								<thead>
									<tr>
										<th width="1%" class="no-sort"><input id="selectAll" type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/></th>
										<th>{{ column_name }}</th>
										<th>{{ column_code }}</th>
										<th>{{ column_status }}</th>
										<th width="12%">{{ column_action }}</th>
									</tr>
								</thead>
								<tbody>
									{% for language in languages %}
										<tr>
											<th scope="row">
												{% if language.language_id in selected %}
													<input type="checkbox" name="selected[]" value="{{ language.language_id }}" checked="checked"/>
												{% else %}
													<input type="checkbox" name="selected[]" value="{{ language.language_id }}"/>
												{% endif %}
											</th>
											<td>{{ language.name }}</td>
											<td>{{ language.code }}</td>
											<td>{{ language.status }}</td>
											<td class="text-center">
												<a href="{{ language.edit }}" class="btn btn-primary btn-sm" data-toggle-tooltip="tooltip" data-placement="top" title="{{ button_edit }}"><i class="far fa-edit"></i></a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
							</tbody>
						</table>
					</div>
				</form>
				</div>
			</div>
		</div>
	</main>
	{{ footer }}
