  <!-- Footer Start here -->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="title"><img src="{{ logo }}" alt="logo" class="img-responsive"></div>
              <div class="footer-about">
                <p>Distily enable team driven services through extensive is a relatonships platforms with interactive
                  content. Enthusiastically scale effective.</p>
                <ul>
                  <li><span><i class="fa fa-home" aria-hidden="true"></i></span> {{ config_address }}</li>
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i></span> {{ config_telephone }}</li>
                  <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span> {{ config_email }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <h4 class="title">Latest News</h4>
              <ul class="footer-post">
                <li>
                  <div class="image">
                    <a href="single.html"><img src="catalog/kidsacademy/images/blog/footer_post_01.jpg" alt="post image"
                        class="img-responsive"></a>
                  </div>
                  <div class="content">
                    <p><a href="single.html">Corem psum dolor the amectetuer adipiscing...</a></p>
                    <span>04 February 2021</span>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <a href="single.html"><img src="catalog/kidsacademy/images/blog/footer_post_02.jpg" alt="post image"
                        class="img-responsive"></a>
                  </div>
                  <div class="content">
                    <p><a href="single.html">Corem psum dolor the amectetuer adipiscing...</a></p>
                    <span>28 January 2021</span>
                  </div>
                </li>
                <li>
                  <div class="image">
                    <a href="single.html"><img src="catalog/kidsacademy/images/blog/footer_post_03.jpg" alt="post image"
                        class="img-responsive"></a>
                  </div>
                  <div class="content">
                    <p><a href="single.html">Duis autem iriure dolor in hendrerit esse...</a></p>
                    <span>03 January 2021</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <h4 class="title">Twitter Widget</h4>
              <ul class="twitter-post">
                <li>
                  <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="content">
                    <p>Raritas etiam processus them dynamicus sequitur mutatem education theme</p>
                    <span>23 seconds ago</span>
                  </div>
                </li>
                <li>
                  <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="content">
                    <p>Duis autem veleum iriu dolor hendrerit in vulputate velit</p>
                    <span>8 seconds ago</span>
                  </div>
                </li>
                <li>
                  <div class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="content">
                    <p>@frankdoe amber tempor cum soluta nobis eleifend</p>
                    <span>2 years ago</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <h4 class="title">Recent Photos</h4>
              <ul class="photos">
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_01.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_02.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_03.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_04.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_05.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_06.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_07.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_08.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
                <li><a href="#"><img src="catalog/kidsacademy/images/sidebar/gallery_09.jpg" alt="gallery image" class="img-responsive"></a>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- footer top -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xs-12">
            <p>{{ text_footer }}</p>
          </div>
          <div class="col-lg-6 col-xs-12">
            <ul class="social-default">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- footer bottom -->
  </footer>
  <a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  <!-- Footer End here -->



  <!-- Bootstrap -->
  <script src="catalog/kidsacademy/javascript/bootstrap.bundle.min.js"></script>

  <!-- Isotope -->
  <script src="catalog/kidsacademy/javascript/isotope.min.js"></script>

  <!-- lightcase -->
  <script src="catalog/kidsacademy/javascript/lightcase.js"></script>

  <!-- counterup -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="catalog/kidsacademy/javascript/jquery.counterup.min.js"></script>

  <!-- Swiper -->
  <script src="catalog/kidsacademy/javascript/swiper.jquery.min.js"></script>

  <!--progress-->
  <script src="catalog/kidsacademy/javascript/circle-progress.min.js"></script>

  <!--velocity-->
  <script src="catalog/kidsacademy/javascript/velocity.min.js"></script>

  <!--quick-view-->
  <script src="catalog/kidsacademy/javascript/quick-view.js"></script>

  <!--nstSlider-->
  <script src="catalog/kidsacademy/javascript/jquery.nstSlider.js"></script>

  <!--flexslider-->
  <script src="catalog/kidsacademy/javascript/flexslider-min.js"></script>

  <!--easing-->
  <script src="catalog/kidsacademy/javascript/jquery.easing.min.js"></script>

  <!--coundown-->
  <script src="catalog/kidsacademy/javascript/coundown.js"></script>

  <!-- custom -->
  <script src="catalog/kidsacademy/javascript/custom.js"></script>


</body>

</html>