<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>KidsAcademy</title>
  <base href="{{ base }}"/>
  <link href="catalog/kidsacademy/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <!-- Bootstrap -->
  <link href="catalog/kidsacademy/stylesheet/bootstrap.min.css" rel="stylesheet">

  <!-- Font-awesome -->
  <link href="catalog/kidsacademy/stylesheet/font-awesome.min.css" rel="stylesheet">

  <!-- Flaticon -->
  <link href="catalog/kidsacademy/flaticon/flaticon.css" rel="stylesheet">

  <!-- lightcase -->
  <link href="catalog/kidsacademy/stylesheet/lightcase.css" rel="stylesheet">

  <!-- Swiper -->
  <link href="catalog/kidsacademy/stylesheet/swiper.min.css" rel="stylesheet">

  <!-- quick-view -->
  <link href="catalog/kidsacademy/stylesheet/quick-view.css" rel="stylesheet">

  <!-- nstSlider -->
  <link href="catalog/kidsacademy/stylesheet/jquery.nstSlider.css" rel="stylesheet">

  <!-- flexslider -->
  <link href="catalog/kidsacademy/stylesheet/flexslider.css" rel="stylesheet">

  <!-- Style -->
  <link href="catalog/kidsacademy/stylesheet/rtl.css" rel="stylesheet">

  <!-- Style -->
  <link href="catalog/kidsacademy/stylesheet/style.css" rel="stylesheet">

  <!-- Responsive -->
  <link href="catalog/kidsacademy/stylesheet/responsive.css" rel="stylesheet">

  <!-- jquery -->
  <script src="catalog/kidsacademy/javascript/jquery-1.12.4.min.js"></script>


</head>

<body id="scroll-top">

  <!-- Preloader start here -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- Preloader end here -->


  <!-- mobile menu start here -->
  <div class="mobile-menu-area">
    <div class="logo-area">
      <a class="logo" href="index.html"><img src="{{ logo }}" alt="logo" class="img-responsive"></a>
      <button type="button" class="navbar-toggle collapsed d-md-none" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="mobile-menu">
      <ul class="m-menu">
        <li class="dropdown-submenu">
          <a href="#">Home</a>
          <ul class="mobile-submenu">
            <li><a href="index.html">home style 1</a></li>
            <li><a href="index-2.html">home style 2</a></li>
            <li><a href="index-3.html">home style 3</a></li>
            <li><a href="one-page.html">home Onepage</a></li>
          </ul>
        </li>
        <li class="dropdown-submenu">
          <a href="#">About</a>
          <ul class="mobile-submenu">
            <li><a href="about.html">About Style 1</a></li>
            <li><a href="about-2.html">About Style 2</a></li>
          </ul>
        </li>
        <li class="dropdown-submenu">
          <a href="#">Classes</a>
          <ul class="mobile-submenu">
            <li><a href="classes.html">Classes</a></li>
            <li><a href="class-single.html">Class Single</a></li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a href="#">Teachers</a>
          <ul class="mobile-submenu">
            <li><a href="teachers.html">Teacher</a></li>
            <li><a href="teacher-detail.html">Teacher Details</a></li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a href="#">Pages</a>
          <ul class="mobile-submenu">
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="gallery-2.html">Gallery 2</a></li>
            <li><a href="event.html">Event</a></li>
            <li><a href="event-single.html">Event Single</a></li>
            <li><a href="404.html">404</a></li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a href="#">Blog</a>
          <ul class="mobile-submenu">
            <li><a href="blog.html">Blog Page</a></li>
            <li><a href="single.html">Blog Single</a></li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a href="#">Shop</a>
          <ul class="mobile-submenu">
            <li><a href="product.html">Product</a></li>
            <li><a href="product-details.html">Product Details</a></li>
            <li><a href="shop-cart.html">Product Cart</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <!-- mobile menu ending here -->




  <header class="header-two">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="logo" href="index.html"><img src="{{ logo }}" alt="logo" class="img-responsive"></a>
          </div>
          <div class="col-md-9">
            <ul class="top-contents">
              <li>
                <i class="icon flaticon-phone-call"></i>
                <div class="content">
                  <p>Call Us Anytime</p>
                  <span>8801 234 567 890</span>
                </div>
              </li>
              <li>
                <i class="icon flaticon-alarm-clock"></i>
                <div class="content">
                  <p>Opening Time</p>
                  <span>9:30am-5:30pm</span>
                </div>
              </li>
              <li>
                <i class="icon flaticon-signs"></i>
                <div class="content">
                  <p>Our Address</p>
                  <span>Lagartisan 1205 Newyork</span>
                </div>
              </li>
            </ul>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- header top -->


    <div class="main-menu">
      <div class="container">
        <div class="row no-gutters">
          <nav class="main-menu-area w-100">
            <div class="logo-area d-md-none">
              <a class="" href="index.html"><img src="{{ logo }}" alt="logo" class="img-responsive"></a>
              <button type="button" class="navbar-toggle collapsed d-md-none" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="menu-area w-100">

              <ul class="menu">
               {% for information in informations %}
                  <li><a href="{{ information.href }}">{{ information.title }} </a></li>
               {% endfor %}
                <li><a href="{{ contact }}">{{ text_contact }} </a></li>
              </ul>
            
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- header End here -->