<!doctype html>
<html lang="{{ lang }}" direction="{{ direction }}">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">	
	<link href="catalog/default/stylesheet/maintenance.min.css" rel="stylesheet">
</head>
<body>
	<div class="main-area center-text" style="background-image:url(catalog/default/images/maintenance.jpg);">
		<div class="display-table">
			<div class="display-table-cell">
				<h1 class="title font-white"><b>{{ text_maintenance }}</b></h1>
				<p class="desc font-white">{{ text_message }}</p>
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->
</body>
</html>