<!doctype html>
<html lang="{{ lang }}" direction="{{ direction }}">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="{{ author }}">
		<base href="{{ base }}"/>
		<link rel="icon" href="{{ ico }}">
		<title>{{ title }}</title>
		{% if description %}
			<meta name="description" content="{{ description }}"/>
		{% endif %}
		{% if keywords %}
			<meta name="keywords" content="{{ keywords }}"/>
		{% endif %}
		<!-- Bootstrap core CSS -->
				
		<link rel="stylesheet" href="catalog/dustrix/stylesheet/icons.css">
    <!--  animate css plugins -->
    <link rel="stylesheet" href="catalog/dustrix/stylesheet/animate.css">
    <!--  magnific-popup css plugins -->
    <link rel="stylesheet" href="catalog/dustrix/stylesheet/magnific-popup.css">
    <!--  owl carosuel css plugins -->
    <link rel="stylesheet" href="catalog/dustrix/stylesheet/owl.carousel.min.css">
    <!-- metis menu css file -->
    <link rel="stylesheet" href="catalog/dustrix/stylesheet/metismenu.css">
    <!--  owl theme css plugins -->
    <link rel="stylesheet" href="catalog/dustrix/stylesheet/owl.theme.css">
    <!--  Bootstrap css plugins -->
    <link rel="stylesheet" href="catalog/dustrix/stylesheet/bootstrap.min.css">
    <!--  main style css file -->
    <link rel="stylesheet" href="{{ stylesheet_css }}">
	<link rel="stylesheet" href="catalog/dustrix/style.css">

		{% for style in styles %}
			<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
		{% endfor %}
		{% for script in scripts %}
			<script src="{{ script }}" type="text/javascript"></script>
		{% endfor %}
		{% for link in links %}
			<link href="{{ link.href }}" rel="{{ link.rel }}"/>
		{% endfor %}
		{% for analytic in analytics %}
			{{ analytic }}
		{% endfor %}
	</head>
	<body class="body-wrapper">    
    <!-- preloader -->
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">                
            </div>
                <div class="txt-loading">
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="U" class="letters-loading">
                        U
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                       S
                    </span>
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="R" class="letters-loading">
                        R
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="X" class="letters-loading">
                        X
                    </span>
                </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- welcome content start from here -->

    <header class="header-wrap header-4">
        <div class="top-header d-none d-lg-block">
            <div class="container-flud">
                <div class="row">
                    <div class="col-md-10 pr-md-0 col-12">
                        <div class="header-cta">
                            <ul>
                                <li>
                                  <a href="mailto:support@example.com"><i class="fal fa-envelope"></i> support@example.com</a>
                                </li>
                                <li>
                                  <a href="tel:+8801700080702"><i class="fal fa-phone"></i> +012 (345) 67 89</a>
                                </li>
                                <li>
                                  <a href="#"><i class="fal fa-clock"></i> Mon — Sat: 9AM — 6PM</a>
                                </li>
                              </ul>
                        </div>
                    </div>
                    <div class="col-md-2 pl-md-0 col-12">
                        <div class="header-right-cta d-flex justify-content-end">
                            <div class="social-profile">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-header-wraper">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="header-logo">
                        <div class="logo">
                            <a href="index.html">
                                <img src="catalog/dustrix/images/logo-4.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-menu d-none d-xl-block">
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="team.html">team</a></li>
                                        <li><a href="faq.html">faq</a></li>
                                        <li><a href="projects.html">projects</a></li>
                                    </ul>
                                </li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-right d-flex align-items-center">
                        <div class="header-btn-cta d-none d-sm-block">
                            <a href="contact.html" class="theme-btn">Get Started <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                        <div class="mobile-nav-bar d-block ml-3 ml-sm-5 d-xl-none">
                            <div class="mobile-nav-wrap">                    
                                <div id="hamburger">
                                    <i class="fal fa-bars"></i>
                                </div>
                                <!-- mobile menu - responsive menu  -->
                                <div class="mobile-nav">
                                    <button type="button" class="close-nav">
                                        <i class="fal fa-times-circle"></i>
                                    </button>
                                    <nav class="sidebar-nav">
                                        <ul class="metismenu" id="mobile-menu">
                                            <li><a class="has-arrow" href="#">Homes</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index.html">Homepage 1</a></li>
                                                    <li><a href="index-2.html">Homepage 2</a></li>
                                                    <li><a href="index-3.html">Homepage 3</a></li>
                                                    <li><a href="index-4.html">Homepage 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">about</a></li>
                                            <li><a href="services.html">services</a></li>
                                            <li>
                                                <a class="has-arrow" href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="faq.html">faq</a></li>
                                                    <li><a href="services-details.html">services details</a></li>
                                                    <li><a href="team.html">Team</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="news.html">News</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
        
                                    <div class="action-bar">
                                        <a href="mailto:modinatheme@gmail.com"><i class="fal fa-envelope-open-text"></i>info@webmail.com</a>
                                        <a href="tel:123-456-7890"><i class="fal fa-phone"></i>987-098-098-09</a>
                                        <a href="contact.html" class="d-btn theme-btn minimal-btn">Contact Us</a>
                                    </div>
                                </div>                            
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


	    