{{ header }}
{{ column_left }}
	<main id="content">
		<div class="container-fluid px-4">
			<div class="page-header">
				<div class="container-fluid">
					<div class="float-right">
						<a href="{{ action }}" role="button" data-toggle-tooltip="tooltip" name="button-save"
							data-placement="top" title="{{ button_save }}" class="btn btn-primary" form="form-children">
							<i class="fa fa-save"></i>
						</a>
						<a href="{{ back }}" data-toggle-tooltip="tooltip" data-placement="top" title="{{ button_cancel }}"
							class="btn btn-light border">
							<i class="fa fa-reply"></i>
						</a>
					</div>
					<h1>{{ heading_title }}</h1>
					<ul class="breadcrumb">
						{% for breadcrumb in breadcrumbs %}
						<li class="breadcrumb-item">
							<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-pen"></i>
					{{ text_form }}
				</div>
				<div class="card-body">
					<form id="form-children" accept-charset="utf-8" encrypt="multipart/form-data">
						<input type="hidden" name="{{ csrf_token() }}" value="{{ csrf_hash() }}"/>
						<div class="form-group row">
							<label for="input_firstname" class="col-sm-2 col-form-label">{{ entry_image }}</label>
							<div class="col-md-10">
								<a href="" id="thumb-image" data-ci-toggle="image" class="img-fluid">
									<img src="{{ thumb }}" alt="" title="" data-ci-placeholder="{{ placeholder }}"
										class="img-thumbnail" /></a>
								<input type="hidden" name="image" value="{{ image }}" id="input-image" />
							</div>
						</div>
						<div class="form-group row">
							<label for="input_firstname"
								class="col-sm-2 col-form-label required">{{ entry_firstname }}</label>
							<div class="col-sm-10">
								<input type="text" name="firstname" class="form-control" id="input-firstname"
									aria-describedby="input_firstname" value="{{ firstname }}">
								{% if error_firstname %}
								<div class="invalid-feedback">{{ error_firstname }}</div>
								{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label for="input_lastname"
								class="col-sm-2 col-form-label required">{{ entry_lastname }}</label>
							<div class="col-sm-10">
								<input type="text" name="lastname" class="form-control" id="input-lastname"
									aria-describedby="input_lastname" value="{{ lastname }}">
								{% if error_lastname %}
								<div class="invalid-feedback">{{ error_lastname }}</div>
								{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label for="input_dob" class="col-sm-2 col-form-label required">{{ entry_dob }}</label>
							<div class="col-sm-10">
								<div class="input-group flex-nowrap">
									<input type="text" name="dob" class="form-control" id="datepicker"
										aria-describedby="input_dob" value="{{ dob }}">
									<span class="input-group-text">
										<i name="datepicker" class="fas fa-calendar-alt"></i></span>
								</div>
							</div>
						</div>
						<fieldset>
							<legend class="border-bottom mb-3">{{ text_other }}</legend>
							<div class="form-group row">
								<label for="input_status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select class="form-control" name="status" aria-label="select_status">
										{% if status %}
										<option value="1" selected>{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected>{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="input_user_group"
									class="col-sm-2 col-form-label">{{ entry_child_group }}</label>
								<div class="col-sm-10">
									<select class="form-control" name="child_group_id" aria-label="select_user_group">
										<option value="0">{{ text_select }}</option>
										{% for child_group in children_group %}
										{% if child_group.child_group_id == child_group_id %}
										<option value="{{ child_group.child_group_id }}" selected>
											{{ child_group.name }}
										</option>
										{% else %}
										<option value="{{ child_group.child_group_id }}">{{ child_group.name }}
										</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="input_user_group" class="col-sm-2 col-form-label">{{ entry_scheme }}</label>
								<div class="col-sm-10">
									<select class="form-control" name="scheme_id" aria-label="select_user_group">
										<option value="0">{{ text_select }}</option>
										{% for scheme in schemes %}
										{% if scheme.scheme_id == scheme_id %}
										<option value="{{ scheme.scheme_id }}" selected>
											{{ scheme.name }}
										</option>
										{% else %}
										<option value="{{ scheme.scheme_id }}">{{ scheme.name }}
										</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!-- Card Body -->
			</div>
		</div>
	</main>
	{{ footer }}